<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background: #006c67;
        padding: 80px 0 0;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 750px) {
        body {
          align-items: flex-end;
        }
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body>
    <div id="app" class="bg-white py-8 md:mx-8 rounded-2xl">
      <div class="container mx-auto px-8">
        <div class="flex md:w-96 mx-auto w-full flex-col space-y-8">
          <div class="flex flex-col space-y-2">
            <h1 class="md:text-4xl text-2xl font-bold">
              Hello! Add your details in the form below
            </h1>
            <p class="text-sm font-medium text-[#9A9AA1]">
              This data will be used to share information and updates regularly
            </p>
          </div>
          <form @submit="register" class="flex flex-col space-y-2">
            <div v-for="(input,index) in inputs" :key="index">
              <label :for="input.id" class="block mb-2 text-sm text-gray-500"
                >{{ input.label }}</label
              >
              <input
                :type="input.type"
                :id="input.id"
                v-model="input.value"
                class="bg-gray-100 text-sm outline-none rounded-lg focus:ring-[#006C66] focus:ring-2 block w-full p-4"
                :placeholder="input.placeholder"
                required
              />
            </div>
            <input
              class="bg-[#006C66] hover:bg-[#006C66] cursor-pointer !mt-8 py-3 text-lg text-white font-medium rounded-lg"
              type="submit"
              v-if="!progress"
              value="Submit details"
            />
            <button
              class="bg-[#006C66] flex items-center justify-center text-white hover:bg-[#006C66] cursor-pointer !mt-8 py-3 text-lg text-white font-medium rounded-lg"
              v-else
            >
              <i class="ph animate-spin ph-circle-notch"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
      import {
        getDoc,
        doc,
        getFirestore,
        addDoc,
        updateDoc,
        collection,
      } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-firestore.js";
      const firebaseConfig = {
        apiKey: "AIzaSyC50mO8PPCln7VgpPb-6TqTE6iOczJYOog",
        authDomain: "feesbook-dev.firebaseapp.com",
        databaseURL: "https://feesbook-dev-default-rtdb.firebaseio.com",
        projectId: "feesbook-dev",
        storageBucket: "feesbook-dev.appspot.com",
        messagingSenderId: "512460666951",
        appId: "1:512460666951:web:0cfd45df4c15841dd69962",
        measurementId: "G-TWDFBFN01Z",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      const query = (function (a) {
        if (a === "") return {};
        const b = {};
        for (let i = 0; i < a.length; ++i) {
          const p = a[i].split("=", 2);
          if (p.length === 1) b[p[0]] = "";
          else b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
        return b;
      })(window.location.search.substr(1).split("&"));

      new Vue({
        el: "#app",
        data() {
          return {
            batchDetails: {},
            progress: false,
            inputs: [
              {
                label: "Student Name",
                placeholder: "Harshit Pathrak",
                name: "name",
                value: "",
                type: "text",
              },
              {
                label: "Guardian Name",
                placeholder: "Harsh Vardhan",
                value: "",
                name: "guardianName",
                type: "text",
              },
              {
                label: "Your Whatsapp number",
                placeholder: "+919582142914",
                value: "",
                name: "phone",
                type: "tel",
              },
            ],
          };
        },
        async mounted() {
          if (!query["id"]) {
            alert("Sorry but you have opened a invalid link");
          } else {
            const docSnap = await getDoc(doc(db, "Classes", query["id"]));
            if (docSnap.exists()) {
              this.batchDetails = docSnap.data();
              const institute = this.batchDetails.institute;
              const instituteId = institute.substring(
                institute.lastIndexOf("/") + 1
              );
              const instituteDoc = await getDoc(
                doc(db, "Institutes", instituteId)
              );
              if (instituteDoc.exists()) {
                this.insituteDetails = instituteDoc.data();
              }
            } else {
              console.log("No such document!", docSnap);
              alert("Sorry but you have opened a invalid link");
            }
          }
        },
        computed: {
          // getStartMonth() {
          //   return this.batchDetails.start;
          // },
          // getEndMonth() {
          //   return this.insituteDetails.endMonth;
          // },
          // months() {
          //   return [
          //     "January",
          //     "February",
          //     "March",
          //     "April",
          //     "May",
          //     "June",
          //     "July",
          //     "August",
          //     "September",
          //     "October",
          //     "November",
          //     "December",
          //     " ",
          //   ];
          // },
          // getMonthsList() {
          //   const year = new Date().getFullYear();
          //   const ls = [];
          //   for (let i = 1; i <= 12; i++) {
          //     if (i >= this.getStartMonth) {
          //       ls.push(i);
          //     }
          //   }
          //   for (let i = 1; i <= this.getEndMonth; i++) {
          //     ls.push(i);
          //   }
          //   return {
          //     months: [...new Set(ls)].sort((a, b) => a - b),
          //     year,
          //   };
          // },
        },
        methods: {
          generateMonths(startDate, endDate) {
            const start = new Date(
              startDate.getFullYear(),
              startDate.getMonth(),
              1
            );
            const end = new Date(endDate.getFullYear(), endDate.getMonth(), 1);

            const months = [];
            let currentDate = start;

            while (currentDate <= end) {
              months.push(new Date(currentDate));
              currentDate.setMonth(currentDate.getMonth() + 1);
            }

            return months;
          },

          // // Usage example:
          // const startDate = new Date('2023-01-01');
          // const endDate = new Date('2023-12-31');
          // const monthsArray = generateMonths(startDate, endDate);

          // console.log(monthsArray);

          async register(event) {
            const that = this;
            if (that.progress) {
              alert("Registration already in progress");
              return null;
            }
            that.registered = false;
            that.progress = true;
            event.preventDefault();
            const getKey = (name) =>
              this.inputs.find((e) => e.name === name).value;
            await addDoc(collection(db, "Students"), {
              name: getKey("name"),
              guardianName: getKey("guardianName"),
              phone: getKey("phone"),
              createdAt: new Date(),
              updatedAt: new Date(),
              collection: 0,
              pending: 0,
              collected: 0,
              history: [],
              months: this.generateMonths(
                new Date(),
                new Date(this.batchDetails.endMonth)
              ).map((e) => e.toISOString()),
              instituteId: this.batchDetails.institute,
              startMonth: new Date().toISOString(),
              endMonth: this.batchDetails.endMonth,
              classId: `/Classes/${this.batchDetails.id}`,
            })
              .then(async (e) => {
                await updateDoc(doc(db, "Students", e.id), {
                  id: e.id,
                  updatedAt: new Date(),
                });
                await updateDoc(doc(db, "Classes", that.batchDetails.id), {
                  studentsCount: (that.batchDetails.studentsCount || 0) + 1,
                  updatedAt: new Date(),
                });
                that.registered = true;
                that.progress = false;
                that.inputs = that.inputs.map((e) => ({
                  ...e,
                  value: "",
                }));
              })
              .catch(() => {
                that.registered = false;
                alert("Oops! Something went wrong");
                that.progress = false;
              });
          },
        },
      });
    </script>
  </body>
</html>
